/* 1. Mobile (Smartphone) max-width: 480px
2. Low Resolution Tablets and ipads max-width: 767px
3. Tablets Ipads portrait mode max-width:1024px
4. Desktops max-width:1280px
5. Huge size (Larger screen) max-width: 1281px and greater */


/* Huge size (Larger screen)  */


/* Desktops size  */

@media only screen and (max-width: 1440px) {
    .contents-left-top-text h2 {
        font-size: 2rem;
    }
    .contents-left-bottom-left {
        width: 19rem;
        padding: 0 2%;
    }
    .contents-left-bottom-right {
        width: 19rem;
        padding: 0 2%;
    }
    .contents-left-top {
        max-width: 45rem;
    }
}


/* Tablets Ipads  */

@media only screen and (max-width: 1024px) {
    span.responsive_icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .responsive_icon a {
        display: flex;
        flex-direction: column;
    }
    .contents-left {
        width: 100%;
    }
    .contents-left::before {
        display: none;
    }
    .contents-section {
        flex-direction: column;
    }
    .contents-right.padding-xy-20.row {
        display: flex;
        flex-direction: row;
        gap: 7%;
    }
    header {
        width: 95%;
    }
    .contents-right.col-4.padding-xy-20.row {
        width: 100%;
        align-items: center;
    }
    .contents-section {
        height: 600px;
    }
}