/* 1. Mobile (Smartphone) max-width: 480px
2. Low Resolution Tablets and ipads max-width: 767px
3. Tablets Ipads portrait mode max-width:1024px
4. Desktops max-width:1280px
5. Huge size (Larger screen) max-width: 1281px and greater */


/* Huge size (Larger screen)  */

@media only screen and (max-width: 1281px) {}


/* Desktops size  */

@media only screen and (max-width: 1280px) {}


/* Tablets Ipads  */

@media only screen and (max-width: 1024px) {
    span.responsive_icon {
        display: block;
    }
    .contents-left {
        width: 100%;
    }
    .contents-left::before {
        display: none;
    }
    .contents-section {
        flex-direction: column;
    }
    .contents-right.padding-xy-20.row {
        display: flex;
        flex-direction: row;
        gap: 7%;
    }
    header {
        width: 95%;
    }
    .contents-right.col-4.padding-xy-20.row {
        width: 100%;
        align-items: center;
    }
    .contents-section {
        height: 600px;
    }
}